.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.ssh/*.pem
modules/install-nginx-on-ec2/ansible.cfg
modules/install-nginx-on-ec2/inventory.ini
modules/install-nginx-on-ec2/nginx-install.yml
modules/deploy-website/ansible.cfg
modules/deploy-website/vars/generic.yml
modules/deploy-website/inventory.ini
modules/deploy-website/deploy-website.yml
modules/deploy-website/create-vhost.yml
modules/deploy-website/deploy-certificate.yml
modules/install-strongswan-on-ovh/install-tunnels.log
modules/install-strongswan-on-ovh/vars/variables.yml
modules/install-strongswan-on-ovh/ansible.cfg
modules/install-strongswan-on-ovh/inventory.ini
modules/install-strongswan-on-ovh/strongswan-install.yml
modules/check-conf/check-conf.yml
modules/check-conf/inventory.ini
modules/check-conf/vars/variables.yml
self.out
selfmenage.out
selfsetup.out

