server {
  listen 80 {{ 'default_server' if main_server }};
  listen [::]:80 {{ 'default_server' if main_server }};
  server_name {{ domain }};
  root /var/www/{{ domain }};
  location / {
    try_files $uri $uri/ =404;
  }
}